html, body{
    margin: auto;
    height: 100%;
}

header{
    position: fixed;
    width: 100vw;
    margin: auto;
    display: flex;
    background-color: rgba(0, 0, 0, 0.726);
    align-items: center;
    height: 60px;
    justify-content: space-around;
}

header .other{
    color: white;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.Home{
    color: white;
    display: flex;
    justify-content: space-around;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
}

.navbar a{
    margin: 60px;
}

a:hover {
    text-decoration:underline;
}

.mainimg1{
    border: none;
    height: 55vw;
}

.mainimg1 img{
    width: 100vw;
    height: auto;
}

.box1{
    background-color: gray;
    width:35vw;
    height: 50vw;
    margin-right:10vw;
}

.box2{
    background-color: gray;
    width: 35vw;
    height: 50vw;
}

.box3{
    background-color: gray;
    width: 35vw;
    height: 50vw;
    margin-right: 10vw;
}

.box4{
    background-color: gray;
    width: 35vw;
    height: 50vw;
}

.box1-2{
    display: flex;
    margin-bottom: 7vw;
}

.box3-4{
    display: flex;
    margin-bottom: 7vw;
}

.box5{
    background-color: gray;
    width:35vw;
    height: 50vw;
    margin-right:10vw;
}

.box6{
    background-color: gray;
    width: 35vw;
    height: 50vw;
}

.box7{
    background-color: gray;
    width: 35vw;
    height: 50vw;
    margin-right: 10vw;
}

.box8{
    background-color: gray;
    width: 35vw;
    height: 50vw;
}

.box5-6{
    display: flex;
    margin-bottom: 7vw;
}

.box7-8{
    display: flex;
}


.mainbox2{
    margin: 10vw;
    margin-top: 15vw;
    height: 110vw;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vw;
    background-color: black;
    color: white;
    text-align: center;
}